mixin snippetCard(snippet)
      each snippet in snippets
        .inner
          .snippet
            div.snippet-author
              img.gravatar(src=snippet.author.avatar)
              a.author_link(href=`/user/${snippet.author._id}`) #{snippet.author.name}
              button.follow +
            .snippet-content
              p.qs= snippet.text
              time.qs(datetime=snippet.created)= h.moment(snippet.created).fromNow()

